.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  margin-top: 2rem;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 13rem;
}

.row button.active{
  background-color:#e0dcdc; 
}

.row button{
  background-color:#faf5f5;
}

.widgets {
  list-style: none;
  padding-left: 0;
}

.widgets li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  padding: .6em;
  margin-bottom: .5em;
}

.widgets p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}
.widgets .checkbox {
  width: 1rem;
  height: 1rem;
  font-weight: bold;
  margin-right: 6rem;
  border: none;
  
}
.widgets .checkbox::after {
  content: '>';
  position: relative;
  bottom: 0.2rem;
}
.widgets.editable .checkbox::after{
  content: '';
}

.widgets.editable .checked.checkbox::after{
  content: 'v';
  position: relative;
  bottom: 0.2rem;
}

.widgets.editable .checkbox{
  border: solid 2px gold;
  background-color: gold;
}

.editBtn {
  width: 13rem;
}
